* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "menu main right"
        "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 5px;
    height: 40px;
    max-width: 460px;
    margin: 0 auto;
}

.header,
.menu,
.main,
.right,
.footer {
    background-color: #cce7ff;
    border: 1px solid #007bff;
    text-align: center;
    padding: 10px;
}

.header {
    grid-area: header;
}

.menu {
    grid-area: menu;
}

.main {
    grid-area: main;
}

.right {
    grid-area: right;
}

.footer {
    grid-area: footer;
}